!!!
html
  head
    title MongoDB Contributor Hub
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .container
      .row
        .span7.header
          a(href="/")
            img(src="/images/logo-white.png")
        .span5.search
          form.navbar-search.pull-right(action="/search", method="get")
            input.search-query(type="text", name="term", placeholder="Search")
      .row
        .span3
          .nav.nav-list
            ul.nav.nav-list
              li.nav-header Languages
              each lang in langs
                li
                  a(href="/language/#{encodeURIComponent(lang.language)}")
                    = lang.language == null ? 'Unknown ' : lang.language + ' '
                    span (#{lang.count})
        .span9
          table.table.table-striped
            thead
              tr
                td Project Name
                td Owner
                td Followers
                td Forks
            each project in projects
              tr
                td 
                  a(href="http://github.com/#{encodeURIComponent(project.owner)}/#{encodeURIComponent(project.name)}", target="_blank") #{project.name}
                td(owner='#{project.owner}')
                  a(href="http://github.com/#{encodeURIComponent(project.owner)}", target="_blank") #{project.owner}
                td #{project.followers}
                td #{project.forks}

        ul.pager
          li
            a(href="/language/#{lang}?page=#{page > 0 ? page-1 : page}") Previous
          li
            a(href="/language/#{lang}?page=#{page+1}") Next

      .row
        .span12.footer Copyright &copy; #{(new Date()).getFullYear()} 10gen, Inc. Licensed under Creative Commons. MongoDB&reg;, Mongo&reg;, and the leaf logo are registered trademarks of 10gen, Inc.

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
